html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
}

.img{
    max-width: 100%;
    height: auto;
}

.wrapper{
    max-width: 1060px;
    margin: 0 auto;
}

.wrapper_full{
    max-width: 1260px;
    margin: 0 auto;
}

/* Start header */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 7;
}

.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.other_header{
    background-color: rgb(109,54,45);
    padding: 10px 0;
}

.other_header_item{
    color: white;
}

.other_header_item{
    margin-right: 225px;
}

.other_header_item:last-child{
    margin-right: 0;
}

.header_logo-link{
    text-decoration: none;
    font-size: 36px;
    color: rgb(109,54,45);
}

.header_list{
    display: flex;
    flex-wrap: wrap;
}

.header_item{
    margin-right: 60px;
}

.header_item:last-child{
    margin-right: 0;
}

.header_link{
    font-size: 15px;
    line-height: 24px;
    color: black;
    text-decoration: none;
}

.header_link:hover, .header_link:focus, .header_link:active{
    opacity: .75;
}

.header_booking-link{
    text-decoration: none;
    font-size: 16px;
    color: rgb(109,54,45);
}

/* End header */

/* Start title */

.restaurant_title{
    margin-top: 90px;
    text-align: center;
    position: relative;
    background-color: #FDF5E6;
}

.restaurant_title::after{
    display: flex;
    flex-wrap: wrap;
    content: '';
    width: 120px;
    height: 1px;
    background-color: rgb(109,54,45);
    position: absolute;
    bottom: 25px;
    left: 495px;
}

.restaurant_title::before{
    display: flex;
    flex-wrap: wrap;
    content: '';
    width: 120px;
    height: 1px;
    background-color:rgb(109,54,45);
    position: absolute;
    bottom: 25px;
    left: 820px;
}

.restaurant-title{
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
    color: rgb(109,54,45);
    padding: 10px 0;
}

/* End Tilte */

/* Start search */

.intro_search{
    background-color: rgb(109,54,45);
}

.intro_cards{
    padding: 0 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.intro_card{
    color: white;
    padding: 30px 0;
}

/* End search */

/* Start numbers */

.restaurant{
    background-color: #FDF5E6;
}

.wrapper_restaurant{
    max-width: 1260px;
    margin: 0 auto;
}

.restaurant_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding-top: 30px;
}

.restaurant_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-column: span 1;
    background-color: #fff;
    margin-bottom: 50px;
}

.restaurant_pic{
    width: 410px;
    height: 270px;
}

.restaurant_card_info{
    padding: 10px;
}

.restaurant_info_name{
    font-size: 24px;
    line-height: 40px;
    font-weight: 100;
    color: rgb(109,54,45);
}

.restaurant_info_prise{
    font-size: 12px;
    font-weight: 100;
    color: darkgray;
    margin-bottom: 10px;
}

.restaurant_info_info{
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.6;
}

.restaurant_info_more{
    text-align: center;
    display: flex;
    align-items:flex-end;
}

.restaurant_button_more{
    margin: 10px;
    padding: 15px;
    background-color:rgb(109,54,45);
    color: white;
    text-decoration: none;
}

.restaurant_button_booking{
    margin: 10px;
    padding: 15px;
    background-color:rgb(109,54,45);
    color: white;
    text-decoration: none;
}

.restaurant_button_more:hover{
    opacity: .90;
}

.restaurant_button_booking:hover{
    opacity: .90;
}

.restaurant_card:hover, .restaurant_card:focus, .restaurant_card:active{
    box-shadow: -1px 1px 15px 5px rgba(34, 60, 80, 0.2);
    transition: 0.5s;
}

/* End restaurant */

/* Footer start */

.footer{
    background-color:rgba(109,54,45);
}

.footer_title{
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding: 30px;
}

.footer_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

.footer_item{
    margin-right: 60px;
}

.footer_item:last-child{
    margin-right: 0;
}

.footer_link{
    font-size: 15px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
}

.footer_link:hover, .footer_link:focus, .footer_link:active{
    opacity: .75;
}

.footer_end{
    margin-bottom: 50px;
}

.footer_name{
    text-align: center;
    color: white;
}

.footer_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.footer_img{
    width: 50px;
}

.footer_pic{
    margin-right: 50px;
}

.footer_pic:last-child{
    margin-right: 0;
}

  /* Footer end */